<div class="container-fluid" style="height: 100vh;">
  <div class="d-flex container-fluid justify-content-center align-items-center" style="height: 85%;">
    <h1 class="home-text text-wrap">Finance Friend</h1>
  </div>
  <div class=" container-fluid d-grid gap-2 p-0 fixed-bottom">
    <%= link_to'LOG IN', new_user_session_path, class: "btn btn-primary bg-custom" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-light text-color" %>
  </div>
</div>
