<div style="height: 100vh;">
  <div class="d-flex container-fluid justify-content-center align-items-center" style="height: 75%;">
    <h1 class="home-text">Finance Friend</h1>
  </div>
  <div class="d-grid gap-2 m-2">
    <%= link_to'LOG IN', new_user_session_path, class: "btn btn-primary bg-custom" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-primary bg-custom" %>
  </div>
</div>
