<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <button class="btn btn-link d-lg-none" onclick="window.history.back()">
      <img src="https://img.icons8.com/FFFFFF/left" alt="Back" style="width: 40px; height: 40px;">
    </button>
    <a class="navbar-brand" href=<%= user_categories_path %>>Budget-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=<%= user_categories_path %> >Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= user_payments_path %> tabindex="-1" aria-disabled="true">Transactions</a>
        </li>
        <li>
          <div>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>