<nav class="navbar navbar-expand-lg navbar-dark bg-custom w-100 p-0 m-8">
  <div>
    <button class="btn btn-link d-lg-none" onclick="window.history.back()">
      <img src="https://img.icons8.com/FFFFFF/left" alt="Back" style="width: 40px; height: 40px;">
    </button>
  </div>
  <div>
    <span class="navbar-brand m-0 mb-0 h1 bold-text text-center"><%= title %></span>
  </div>
  <div>
    <span class="navbar-brand m-0 mb-0 me-2 h1"><%= subtitle %></span>
  </div>
</nav>